In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
am_par_3_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\am-pa3_scores.csv")

In [6]:
am_par_3_scores

   Handicap  Average Score
0         0           3.16
1         5           3.36
2        10           3.60
3        15           3.83
4        20           4.00
5        25           4.19

In [12]:
am_par_4_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\am_par4_scores.csv")

In [14]:
am_par_4_scores

   Handicap  Average Score
0         0           4.09
1         5           4.43
2        10           4.67
3        15           5.05
4        20           5.31
5        25           5.87

In [18]:
am_par_5_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\am_par5_scoring.csv")

In [20]:
am_par_5_scores

   Handicap  Average Score
0         0           4.76
1         5           5.17
2        10           5.53
3        15           5.91
4        20           6.23
5        25           6.98

In [22]:
pga_par_3_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\pga par 3 scoring.csv")

In [24]:
pga_par_3_scores

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL STROKES,TOTAL HOLES
0,1,0,58696,Peter Kuest,2.93,527,180
1,2,0,39977,Max Homa,2.94,1017,346
2,3,0,47591,Eric Cole,2.95,1541,523
3,3,0,46970,Jon Rahm,2.95,850,288
4,5,0,52453,Nicolai Hojgaard,2.96,575,194
...,...,...,...,...,...,...,...
188,186,0,46601,Trey Mullinax,3.14,899,286
189,186,0,35617,Martin Trainer,3.14,794,253
190,191,0,34610,Matthias Schwab,3.15,1321,419
191,192,0,51491,Brandon Matthews,3.18,767,241
192,193,0,51414,Brent Grant,3.20,1090,341

In [26]:
pga_par_3_scores = pga_par_3_scores.drop(columns = ['MOVEMENT', 'PLAYER_ID'])

In [32]:
pga_par_3_scores['AVG'].describe()

count    193.000000
mean       3.048135
std        0.045788
min        2.930000
25%        3.010000
50%        3.040000
75%        3.080000
max        3.200000
Name: AVG, dtype: float64

In [34]:
pga_par_4_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\pga par 4 scoring.csv")

In [36]:
pga_par_4_scores = pga_par_4_scores.drop(columns = ['MOVEMENT', 'PLAYER_ID'])

In [38]:
pga_par_4_scores

     RANK             PLAYER   AVG  TOTAL STROKES  TOTAL HOLES
0       1       Ludvig Åberg  3.91           2102          538
1       1  Scottie Scheffler  3.91           3754          960
2       3    Patrick Cantlay  3.93           3087          786
3       4     Viktor Hovland  3.94           3780          959
4       5     Denny McCarthy  3.95           4297         1089
..    ...                ...   ...            ...          ...
188   188       Webb Simpson  4.09           2532          619
189   190       Max McGreevy  4.10           3995          975
190   190        Nick Watney  4.10           3268          797
191   192    Dylan Frittelli  4.11           3367          820
192   193   Brandon Matthews  4.14           2567          620

[193 rows x 5 columns]

In [40]:
pga_par_4_scores['AVG'].describe()

count    193.000000
mean       4.015078
std        0.035504
min        3.910000
25%        3.990000
50%        4.020000
75%        4.030000
max        4.140000
Name: AVG, dtype: float64

In [42]:
pga_par_5_scores = pd.read_csv(r"C:\Users\Jeremy\Documents\NSS DA 2024\captsone\data\comparable\par3_4_5 scoring\pga par 5 scoring.csv")

In [44]:
pga_par_5_scores = pga_par_5_scores.drop(columns = ['MOVEMENT', 'PLAYER_ID'])

In [46]:
pga_par_5_scores

     RANK             PLAYER   AVG  TOTAL STROKES  TOTAL HOLES
0       1       Ludvig Åberg  4.44            711          160
1       1    Patrick Cantlay  4.44            977          220
2       3           Jon Rahm  4.46           1000          224
3       3  Scottie Scheffler  4.46           1177          264
4       5         Sungjae Im  4.47           1403          314
..    ...                ...   ...            ...          ...
188   188       Hank Lebioda  4.73           1040          220
189   188      Callum Tarren  4.73           1514          320
190   191        Chez Reavie  4.74           1473          311
191   192      Lucas Herbert  4.77            925          194
192   193        Nick Watney  4.79           1254          262

[193 rows x 5 columns]

In [48]:
pga_par_5_scores['AVG'].describe()

count    193.000000
mean       4.615130
std        0.061042
min        4.440000
25%        4.580000
50%        4.620000
75%        4.660000
max        4.790000
Name: AVG, dtype: float64